<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="StreamingNotificationsSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <StreamingNotificationsSample.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>vnguyen@connectwise.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>ellie6*6u</value>
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value>https://outlook.office365.com/ews/exchange.asmx</value>
            </setting>
        </StreamingNotificationsSample.Properties.Settings>
    </userSettings>
</configuration>
